<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>
  <?define StagingVersionIncludeFile=$(StagingSourceRootFolder)\version\BundleInfo.wxi ?>
  <?include $(StagingVersionIncludeFile) ?>

  <Package  
          Name="Microsoft Microsoft Windows MIDI Services (Settings App) $(var.Platform)"
          Manufacturer="Microsoft Corporation"
          Version="$(MidiSdkAndToolsVersion)"
          UpgradeCode="6f21054a-1905-4aae-869f-46554de9ea98"
          Scope="perMachine"
          Compressed="true"
          UpgradeStrategy="majorUpgrade"          
          >
       
        <MediaTemplate EmbedCab="yes" />

        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                    <Directory Id="SETTINGSAPP_INSTALLFOLDER" Name="Settings">
                        <Directory Id="SETTINGSAPP_ASSETS_FOLDER" Name="Assets" />
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="CommonAppDataFolder">
          <Directory Name="Microsoft">
            <Directory Id="CONFIGURATION_FOLDER" Name="MIDI">
              <Directory Id="CONFIGURATION_ASSETS_FOLDER" Name="Assets">
                <Directory Id="CONFIGURATION_ASSETS_ENDPOINTS_FOLDER" Name="Endpoints" />
                <Directory Id="CONFIGURATION_ASSETS_TRANSPORTS_FOLDER" Name="Transports" />
              </Directory>
            </Directory>
          </Directory>
        </StandardDirectory>



    <!--        <Component Id="SettingsAppExe"
                   Bitness="always64"
                   Directory="SETTINGSAPP_INSTALLFOLDER"
                   Guid="de6c83ee-2d1d-4b21-a098-e4a4079b6872"> -->


            <!-- Add folder to path -->
            
            <!-- TODO: Pin Icon -->
<!--            <Environment Id="AddSettingsAppToSystemPath"
                            Name="PATH" Action="set" Part="last" System="yes"
                            Value="[SETTINGSAPP_INSTALLFOLDER]" Permanent="no"/> -->
<!--        </Component> -->


        <StandardDirectory Id="ProgramMenuFolder">
            <Component Id="SettingsAppShortcut" Guid="c71be7ba-f0b6-483e-a409-e40985e90117">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="MIDI Settings"
                          Description="Windows MIDI Services Settings and Configuration"
                          Target="[!ShortcutTargetExe]"
                          WorkingDirectory="SETTINGSAPP_INSTALLFOLDER" />
            </Component>
        </StandardDirectory>

        <Component Id="SettingsAppAssets"
                    Bitness="always64"
                    Directory="SETTINGSAPP_ASSETS_FOLDER"
                    Guid="f4f2b375-347b-413c-b81d-e900f392f786">
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\AppIcon.ico" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\AppIcon.svg" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\Loopback-Diagram.svg" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\LeftNav-CreateLoopbackEndpoints.svg" />          
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\LeftNav-Endpoints.svg" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\LeftNav-GlobalSettings.svg" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\LeftNav-Home.svg" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\$(var.Platform)\LeftNav-NetworkMidi.svg" />
        </Component>

      <Component Id="SharedEndpointsAssets"
                  Bitness="always64"
                  Directory="CONFIGURATION_ASSETS_ENDPOINTS_FOLDER"
                  Guid="9072e81b-4b94-41a6-bc4a-54600f447a03">
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-apppub-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-ble10-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-diag-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-ksa-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-ks-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-loop-small.svg" />
        <File Source="$(StagingSourceRootFolder)\Assets\Endpoints\default-net2udp-small.svg" />
      </Component>

    <Component Id="SharedTransportsAssets"
                Bitness="always64"
                Directory="CONFIGURATION_ASSETS_TRANSPORTS_FOLDER"
                Guid="ff69242e-1bad-472a-97e5-a11f01cba4b4">
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\apppub-small.svg" />
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\ble10-small.svg" />
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\diag-small.svg" />
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\ksa-small.svg" />
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\ks-small.svg" />
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\loop-small.svg" />
      <File Source="$(StagingSourceRootFolder)\Assets\Transports\net2udp-small.svg" />
    </Component>

    <Feature Id="WindowsMidiServicesSettings">
      <ComponentRef Id="SettingsAppExe"/>
      <ComponentRef Id="SettingsAppShortcut"/>
      <ComponentRef Id="SettingsAppAssets"/>
      <ComponentRef Id="SharedEndpointsAssets"/>
      <ComponentRef Id="SharedTransportsAssets"/>
    </Feature>
    </Package>
</Wix>
