<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>

    <Package  
          Name="Windows MIDI Services Console"
          Manufacturer="Microsoft Corporation"
          Version="1.0.0.0"
          UpgradeCode="8cc29e46-e28b-43bf-b5c8-eaf84b12e9ad"
          >
       
        <MediaTemplate EmbedCab="yes" />

        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="SERVICE_INSTALLFOLDER" Name="Service" />
                <Directory Id="API_INSTALLFOLDER" Name="API" />
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                    <Directory Id="CONSOLEAPP_INSTALLFOLDER" Name="Console" />
                    <Directory Id="SETTINGSAPP_INSTALLFOLDER" Name="Settings" />
                </Directory>
            </Directory>
        </StandardDirectory>

        <!-- Install Console App -->

        <Component Id="ConsoleAppExe"
                   Bitness="always64"
                   Directory="CONSOLEAPP_INSTALLFOLDER"
                   Guid="ccbe40e9-bc36-4fd3-951f-c131db8b680c">

            <!-- Install Tools: Console app -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.exe" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.deps.json" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.runtimeconfig.json" />

            <!-- C# / WinRT -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\WinRT.Runtime.dll" />

            <!-- WinRT Projections -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Microsoft.Windows.SDK.NET.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Windows.Devices.Midi2.NET.dll" />

            <!-- Spectre Console -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Spectre.Console.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Spectre.Console.Cli.dll" />

            <!-- Other .NET libs -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.CodeDom.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.Diagnostics.EventLog.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.Diagnostics.EventLog.Messages.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.Management.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.ServiceProcess.ServiceController.dll" />


            <!-- Add folder to path -->
            <Environment Id="AddConsoleAppToSystemPath"
                            Name="PATH" Action="set" Part="last" System="yes" 
                            Value="[CONSOLEAPP_INSTALLFOLDER]" Permanent="no"/>
        </Component>

        <Feature Id="WindowsMidiServicesConsole">
            <ComponentRef Id="ConsoleAppExe"/>
        </Feature>
    </Package>
</Wix>
