#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "MinMidi MIDI 2 Driver"
#define VER_INTERNALNAME_STR        "MinMidi.sys"
#define VER_ORIGINALFILENAME_STR    "MinMidi.sys"

#include "common.ver"
