<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?define StagingSourceRootFolder=..\..\..\build\staging ?>
    
    <Fragment>
        <ComponentGroup Id="ConsoleApp" 
                        Directory="CONSOLEAPP_INSTALLFOLDER">
            <Component Id="ConsoleAppExe"
                       Guid="1c74ff9c-d414-4a1e-a1f8-7cf62388f3bd">

                <!-- Install Tools: Console app -->
                <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.exe" />

                <!-- TODO: Add folder to path -->

                <Environment Id="AddConsoleAppToSystemPath" 
                             Name="PATH" Action="set" Part="last" System="yes" Value="[CONSOLEAPP_INSTALLFOLDER]" Permanent="no"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
