<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="SettingsApp" 
                        Directory="SETTINGSAPP_INSTALLFOLDER">
            <Component Id ="SettingsAppExe"
                       Guid="1e903d6a-b855-44f6-b00a-8f8827617eb5">
        
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
