<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     >

    <?define DependenciesSourceRootFolder=$(env.MIDI_REPO_ROOT)\build\dependencies ?>
    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)\build\staging ?>
    <?define StagingVersionIncludeFile=$(StagingSourceRootFolder)\version\MidiGlassVersion.wxi ?>

    <?include $(StagingVersionIncludeFile) ?>


    <Bundle Name="MIDI Glass for Windows MIDI Services"
            Manufacturer="Microsoft Corporation"
            Version="$(MidiGlassSetupVersion)"
            UpgradeCode="0e08d015-2621-440c-914b-f9edd71a346c">

        <WixVariable Id="WixUIDialogBmp" Value="midi_installer_logo.bmp" />

        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication LicenseUrl=""
                                                    Theme="hyperlinkLicense"
                                                    SuppressOptionsUI="true"
                                                    SuppressRepair="true"
                                                    ShowVersion="true"
                                                    LogoFile="midi_installer_logo_square.png"/>
        </BootstrapperApplication>

        <Chain>
          <PackageGroupRef Id="Prerequisites" />
          <PackageGroupRef Id="MidiGlassPackages" />
        </Chain>
    </Bundle>


    <Fragment>
      <PackageGroup Id="Prerequisites">

        <!-- C++ Runtime. The x64 download contains both Arm64 and X64 versions -->
        <ExePackage
            Vital="false"
            DisplayName="Microsoft Visual C++ Runtime"
            SourceFile="$(DependenciesSourceRootFolder)\VC_redist.x64.exe"
            Compressed="yes"
            InstallArguments="/install /passive /norestart /log midi_vcruntime_install_log.txt"
            Permanent="true"
                >
        </ExePackage>

        <!-- MIDI Glass is an unpackaged WinUI 3 app, so the Windows App Runtime is carried here
             rather than assumed. A customer installing only MIDI Glass may not have the App SDK
             runtime installer, which is where this normally comes from. -->
        <ExePackage
            Vital="true"
            Permanent="true"
            DisplayName="Microsoft Windows App Runtime"
            SourceFile="$(DependenciesSourceRootFolder)\$(var.Platform)\WindowsAppRuntimeInstall-$(var.Platform).exe"
            Compressed="yes"
           />

      </PackageGroup>

      <PackageGroup Id="MidiGlassPackages">
            <MsiPackage
                Id="WindowsMidiServicesMidiGlass"
                Vital="true"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMidiServicesMidiGlass.msi">
            </MsiPackage>

        </PackageGroup>

    </Fragment>
</Wix>
