<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>

    <Package  
          Name="Windows MIDI Services Settings App"
          Manufacturer="Microsoft Corporation"
          Version="1.0.0.0"
          UpgradeCode="2EB7C5F9-DA9C-41F4-A46A-3AE1B2B12AD2"
          >
       
        <MediaTemplate EmbedCab="yes" />

        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="SERVICE_INSTALLFOLDER" Name="Service" />
                <Directory Id="API_INSTALLFOLDER" Name="API" />
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                    <Directory Id="CONSOLEAPP_INSTALLFOLDER" Name="Console" />
                    <Directory Id="SETTINGSAPP_INSTALLFOLDER" Name="Settings">
                        <Directory Id="SETTINGSAPP_ASSETSFOLDER" Name="Assets" />
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        
        <!-- Install Settings App -->
        
        <Component Id="SettingsAppExe"
                   Bitness="always64"
                   Directory="SETTINGSAPP_INSTALLFOLDER"
                   Guid="1e903d6a-b855-44f6-b00a-8f8827617eb5">

            <File Id="MidiSettings.exe"
                  Source="$(StagingSourceRootFolder)\midi-settings\x64\MidiSettings.exe" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Midi.Settings.Core.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\MidiSettings.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\resources.pri" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\MidiSettings.runtimeconfig.json" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\appsettings.json" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\WinRT.Runtime.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Windows.Devices.Midi2.NET.dll" />


            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\ColorCode.Core.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\ColorCode.WinUI.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.Common.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.Labs.WinUI.SettingsControls.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.Mvvm.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.Controls.SettingsControls.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.Extensions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.Helpers.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.Triggers.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Animations.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Core.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.DataGrid.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Input.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Layout.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Markdown.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Media.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Primitives.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.Binder.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.CommandLine.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.Json.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.DependencyInjection.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Diagnostics.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.FileProviders.Physical.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.FileSystemGlobbing.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Hosting.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Hosting.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Configuration.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Console.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Debug.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.EventLog.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.EventSource.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Options.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Primitives.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Graphics.Canvas.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Graphics.Canvas.Interop.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.InteractiveExperiences.Projection.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.ApplicationModel.Resources.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.AppLifecycle.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.AppNotifications.Builder.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.AppNotifications.Projection.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.Management.Deployment.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.PushNotifications.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.SDK.NET.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.Security.AccessControl.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.System.Power.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.System.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.Widgets.Projection.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.WindowsAppRuntime.Bootstrap.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.WinUI.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Xaml.Interactions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Xaml.Interactivity.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Newtonsoft.Json.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.CodeDom.dll" />
            <!--<File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Diagnostics.DiagnosticSource.dll" /> -->
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Diagnostics.EventLog.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Diagnostics.EventLog.Messages.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Management.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.ServiceProcess.ServiceController.dll" />
            <!--<File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Text.Encodings.Web.dll" /> -->
            <!--<File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Text.Json.dll" /> -->
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\WinUIEx.dll" />
        </Component>

        <Component Id="SettingsAppAssets"
                   Bitness="always64"
                   Directory="SETTINGSAPP_ASSETSFOLDER"
                   Guid="f4f2b375-347b-413c-b81d-e900f392f786">
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Assets\AppIcon.ico" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Assets\AppIcon.png" />
        </Component>
            

        <StandardDirectory Id="ProgramMenuFolder">
            <Component Id="SettingsAppShortcut" Guid="c71be7ba-f0b6-483e-a409-e40985e90117">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="MIDI Settings"
                          Description="Windows MIDI Services Settings and Tools"
                          Target="[#MidiSettings.exe]"
                          WorkingDirectory="SETTINGSAPP_INSTALLFOLDER" />
            </Component>
        </StandardDirectory>

        <Feature Id="WindowsMidiServicesSettings">
            <ComponentRef Id="SettingsAppExe"/>
            <ComponentRef Id="SettingsAppAssets"/>
            <ComponentRef Id="SettingsAppShortcut"/>
        </Feature>
    </Package>
</Wix>
