// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License

#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,1
 PRODUCTVERSION 0,1,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Windows MIDI Services rtpMIDI transport API (prototype)"
            VALUE "FileVersion", "0.1.0.1"
            VALUE "LegalCopyright", "Copyright (c) Microsoft Corporation.  All rights reserved."
            VALUE "InternalName", "Windows.Devices.Midi2.Transports.Rtp.dll"
            VALUE "OriginalFilename", "Windows.Devices.Midi2.Transports.Rtp.dll"
            VALUE "ProductName", "Windows MIDI Services"
            VALUE "ProductVersion", "0.1.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

STRINGTABLE
BEGIN
    IDS_RTP_SDK_ERROR_NULL_CONFIG           "No configuration was provided."
    IDS_RTP_SDK_ERROR_HOST_START_TIMEOUT    "The MIDI service has the host, but it has not started yet. The service keeps trying in the background."
    IDS_RTP_SDK_ERROR_SERVICE_UNAVAILABLE   "The MIDI service did not answer. Check that it is running and that the rtpMIDI transport is installed."
    IDS_RTP_SDK_ERROR_EXCEPTION             "Something went wrong while talking to the MIDI service."
END
