<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     >

    <?define DependenciesSourceRootFolder=$(env.MIDI_REPO_ROOT)\build\dependencies ?>
    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>
    <?define StagingVersionIncludeFile=$(StagingSourceRootFolder)\version\BundleInfo.wxi ?>

    <?include $(StagingVersionIncludeFile) ?>

    <!-- TODO: Gate on Arm64 or x64. No x86 installation -->

    
    <!-- TODO: Gate on Windows 10 22H2 or later -->

    <Bundle Name="Windows MIDI Services Preview Service (Developer Version)" 
            Manufacturer="Microsoft Corporation" 
            Version="$(SetupVersionNumber)" 
            UpgradeCode="0ccb5d12-44a6-4dd8-8d07-0d130589c0a2">

        <!-- Require Dev Mode to be turned on to run this installer -->
        <WixVariable Id="DevModeEnabled" Value="0" />
        <util:RegistrySearch
            Id="DevMode"
            Root="HKLM"
            Key="SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"
            Value="AllowDevelopmentWithoutDevLicense"
            Variable="DevModeEnabled"
            Result="value"/>

        <bal:Condition Message="Developer mode in Windows Settings must be enabled to install this Windows MIDI Services preview package."
                       Condition="DevModeEnabled=1" />

        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication LicenseUrl=""
                                                    SuppressOptionsUI="true"
                                                    SuppressRepair="true"
                                                    ShowVersion="true"
                                                    LogoFile="logo.png"
                                                    LogoSideFile="logo-sidebar.png"
                                                    Theme="hyperlinkSidebarLicense" />
        </BootstrapperApplication>

        
        <Chain>
            <PackageGroupRef Id="Prerequisites" />
            <PackageGroupRef Id="MidiServicesPackages" />
        </Chain>
    </Bundle>

    
    <Fragment>

        <PackageGroup Id="Prerequisites">

            <!-- C++ Runtime. The x64 download contains both Arm64 and X64 versions -->
            <ExePackage 
                Vital="false"
                DisplayName="Microsoft Visual C++ Runtime"
                SourceFile="$(DependenciesSourceRootFolder)\VC_redist.x64.exe"
                Compressed="yes"
                InstallArguments="/install /passive /norestart /log midi_vcruntime_install_log.txt" 
                Permanent="true"
                >
            </ExePackage>

        </PackageGroup>
        
        <PackageGroup Id="MidiServicesPackages">
            <MsiPackage
                Id="WindowsMIDIServicesCoreSetup"
                Vital="true"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMIDIServicesCoreSetup.msi">
            </MsiPackage>

        </PackageGroup>
        
    </Fragment>
</Wix>
