#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "ACX v1.0 MIDI 2 Driver"
#define VER_INTERNALNAME_STR        "MinMidi2.sys"
#define VER_ORIGINALFILENAME_STR    "MinMidi2.sys"

#include "common.ver"
