<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>

    <Package  
          Name="Windows MIDI Services $(var.Platform)"
          Manufacturer="Microsoft Corporation"
          Version="1.0.0.0"
          UpgradeCode="5f3a293b-09fb-4129-99b1-1a4d67cfd57c"
          >
       
        <MediaTemplate EmbedCab="yes" />

        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="SERVICE_INSTALLFOLDER" Name="Service" />
                <Directory Id="API_INSTALLFOLDER" Name="API" />
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                    <Directory Id="CONSOLEAPP_INSTALLFOLDER" Name="Console" />
                    <Directory Id="SETTINGSAPP_INSTALLFOLDER" Name="Settings" />
                </Directory>
            </Directory>
        </StandardDirectory>
        
        <StandardDirectory Id="CommonAppDataFolder">
            <Directory Name="Microsoft">
                <Directory Id="CONFIGURATION_FOLDER" Name="MIDI">
                    <Component Id="Permission.SharedAppDataFolder" Guid="{CFF49B6C-54CA-47F9-A1EF-62CD7C542D78}">
                        <CreateFolder>
                            <Permission GenericAll="yes" User="Everyone"/>
                        </CreateFolder>
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>


        <Binary Id ="RegistryCustomActionsLib" 
                SourceFile="$(env.MIDI_REPO_ROOT)src\oob-setup\RegistryCustomActions\bin\$(var.Platform)\Release\net48\RegistryCustomActions.CA.dll" />
        <!-- Install Windows Service -->
     
        <!-- Transport and other Service Plugins -->
        <!-- Setting the SelfRegCost attribute to any positive number causes DLL Self Registration -->
    
       <Component Id="WindowsServiceAbstractions"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="{6a2300f5-ccae-4f61-b849-d41aefb8a999}"  >
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.MidiSrvAbstraction.dll"                  SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.DiagnosticsAbstraction.dll"              SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.KSAbstraction.dll"                       SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.BluetoothMidiAbstraction.dll"            SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.NetworkMidiAbstraction.dll"              SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.LoopbackMidiAbstraction.dll"             SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.VirtualMidiAbstraction.dll"              SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.VirtualPatchBayAbstraction.dll"          SelfRegCost="1" Vital="true" />

            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.BS2UMPTransform.dll"                     SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.UMP2BSTransform.dll"                     SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.EndpointMetadataListenerTransform.dll"   SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.SchedulerTransform.dll"                  SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.UmpProtocolDownscalerTransform.dll"      SelfRegCost="1" Vital="true" />
           
           <!--<File Source="$(StagingSourceRootFolder)\api\x64\Midi2.JitterReductionGeneratorTransform.dll"   SelfRegCost="1" Vital="true" /> -->
           <!--<File Source="$(StagingSourceRootFolder)\api\x64\Midi2.JitterReductionListenerTransform.dll"    SelfRegCost="1" Vital="true" /> -->

       </Component>

        <Component Id="WindowsService"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="6a2300f5-ccae-4f61-b849-d41aefb8a2f7" >
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\MidiSrv.exe" Id="WINDOWS_SERVICE"  Vital="true" />

            <ServiceInstall
                Id="MidiServiceInstaller"
                Type="ownProcess"
                Name="MidiSrv"
                DisplayName="Microsoft MIDI Service"
                Description="!(bind.Property.ProductName) core service for MIDI 1.0 and MIDI 2.0 message routing and device enumeration."
                Start="auto"
                Account="LocalSystem"
                ErrorControl="normal"
                Vital="true" />
            <ServiceControl Id="MidiServiceStart" 
                            Start="install" 
                            Stop="both" 
                            Remove="uninstall" 
                            Name="MidiSrv" 
                            Wait="no" />
        </Component>     
        

        <Component Id="ConfigurationRegistryEntries"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="25E35CBB-4C66-4BEB-9B03-BC2E2D99317B"
                   NeverOverwrite="false">
                   
            <!-- Permanent is set to "yes" because this installer is for dev builds -->
            
            <RegistryKey Root="HKLM"
                         Key="SOFTWARE\Microsoft\Windows MIDI Services">

                <RegistryValue Type="string" Name="CurrentConfig" Value="Default.midiconfig.json" />

                <RegistryKey Key="Endpoint Processing Plugins">
                    <!-- TODO: Any processing plugins -->
                </RegistryKey>

                <RegistryKey Key="Transport Plugins">
                    
                    <RegistryKey Key="Midi2KSAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{26FA740D-469C-4D33-BEB1-3885DE7D6DF1}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>

                    <RegistryKey Key="Midi2VirtualMidiAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{8FEAAD91-70E1-4A19-997A-377720A719C1}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>

                    <RegistryKey Key="Midi2LoopbackMidiAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{942BF02D-93C0-4EA8-B03E-D51156CA75E1}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>


                    
                    <RegistryKey Key="Midi2NetworkMidiAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{C95DCD1F-CDE3-4C2D-913C-528CB8A4CBE6}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="0" />
                    </RegistryKey>
                    
                    <RegistryKey Key="Midi2VirtualPatchBayAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{B7C8E2D2-EE3B-4044-B9CF-6F29528AB46D}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="0" />
                    </RegistryKey>

                    <RegistryKey Key="Midi2BluetoothMidiAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{ABD5E0B9-C38C-48B7-AA56-19D9E26BAF1B}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="0" />
                    </RegistryKey>
                </RegistryKey>
            </RegistryKey>
        </Component>
        
        <Component Id="ConfigurationFile"
                   Bitness="always64"
                   Directory="CONFIGURATION_FOLDER"
                   Guid="{3700BE95-FBC9-4876-B497-C328084FE7B4}"
                   NeverOverwrite="true" 
                   >
            <File Source="$(StagingSourceRootFolder)\configuration\Default.midiconfig.json" />
        </Component>

        <!-- Install API -->

        <Component Id="WindowsAPI"
                   Bitness="always64"
                   Directory="API_INSTALLFOLDER"
                   Guid="dc48ab14-dd46-4ff2-8d59-10b9a8215c7e">
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Windows.Devices.Midi2.dll" Vital="true" />
                       
            
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Windows.Devices.Midi2.pri" />
        </Component>

        <Component Id="WindowsAPIRegistration"
                   Bitness="always64"
                   Directory="API_INSTALLFOLDER"
                   Guid="fa0230b9-824a-4c5f-b4e4-396433baa962"
                   >
        </Component>
        
        <!-- Install MIDI Dump Utility -->
       <Component Id="MidiDumpUtility"
                   Bitness="always64"
                   Directory="ROOTINSTALLFOLDER"
                   Guid="{fa0bd870-3468-4c10-bb2e-6fea6c225d42}"  >
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\mididmp.exe"          Vital="true" />
       
            <!-- Add folder to path -->
            <Environment Id="AddMidiDumpUtilityToSystemPath"
                            Name="PATH" Action="set" Part="last" System="yes" 
                            Value="[ROOTINSTALLFOLDER]" Permanent="no"/>        
       </Component>            
            
        
        <CustomAction
            Id="WriteActivatableClassIdKeysAction"
            Return="check"
            Execute="immediate"
            BinaryRef="RegistryCustomActionsLib"
            DllEntry="WriteActivatableClassIdKeys"
            Impersonate="yes"/>

        <CustomAction
            Id="EraseActivatableClassIdKeysAction"
            Return="check"
            Execute="immediate"
            BinaryRef="RegistryCustomActionsLib"
            DllEntry="EraseActivatableClassIdKeys"
            Impersonate="yes"/>
        
        <Feature Id="WindowsMIDIServices">
            <ComponentRef Id="WindowsServiceAbstractions"/>
            <ComponentRef Id="WindowsService"/>
            <ComponentRef Id="WindowsAPI"/>
            <ComponentRef Id="WindowsAPIRegistration"/>

            <ComponentRef Id="Permission.SharedAppDataFolder"/>
            <ComponentRef Id="ConfigurationFile"/>
            <ComponentRef Id="ConfigurationRegistryEntries"/>

            <ComponentRef Id="MidiDumpUtility"/>
        </Feature>


        <InstallExecuteSequence>
            <Custom Action="WriteActivatableClassIdKeysAction" After="InstallFiles" Condition="(NOT Installed)" />
            <Custom Action="EraseActivatableClassIdKeysAction" After="InstallFiles" Condition='(REMOVE="ALL")'/>
        </InstallExecuteSequence>

    </Package>
</Wix>
