<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>

    <Package  
          Name="Windows MIDI Services"
          Manufacturer="Microsoft Corporation"
          Version="1.0.0.0"
          UpgradeCode="5f3a293b-09fb-4129-99b1-1a4d67cfd57c"
          >
       
        <MediaTemplate EmbedCab="yes" />

        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="SERVICE_INSTALLFOLDER" Name="Service" />
                <Directory Id="API_INSTALLFOLDER" Name="API" />
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                    <Directory Id="CONSOLEAPP_INSTALLFOLDER" Name="Console" />
                    <Directory Id="SETTINGSAPP_INSTALLFOLDER" Name="Settings" />
                </Directory>
            </Directory>
        </StandardDirectory>


        <Binary Id ="RegistryCustomActionsLib" SourceFile="$(env.MIDI_REPO_ROOT)src\oob-setup\RegistryCustomActions\bin\x64\Release\net48\RegistryCustomActions.CA.dll" />
        <!-- Install Windows Service -->
     
        <!-- Transport and other Service Plugins -->
        <!-- Setting the SelfRegCost attribute to any positive number causes DLL Self Registration -->
    
       <Component Id="WindowsServiceAbstractions"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="{6a2300f5-ccae-4f61-b849-d41aefb8a999}"  >
            <File Source="$(StagingSourceRootFolder)\api\x64\Midi2.KSAbstraction.dll"               SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\x64\Midi2.MidiSrvAbstraction.dll"          SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\x64\Midi2.NetworkMidiAbstraction.dll"      SelfRegCost="1"/>
            <File Source="$(StagingSourceRootFolder)\api\x64\Midi2.DiagnosticsAbstraction.dll"      SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\x64\Midi2.VirtualMidiAbstraction.dll"      SelfRegCost="1"/>
        </Component>

        <Component Id="WindowsService"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="6a2300f5-ccae-4f61-b849-d41aefb8a2f7" >
            <File Source="$(StagingSourceRootFolder)\api\x64\MidiSrv.exe" Id="WINDOWS_SERVICE"  Vital="true" />

            <ServiceInstall
                Id="MidiServiceInstaller"
                Type="ownProcess"
                Name="MidiSrv"
                DisplayName="Microsoft MIDI Service"
                Description="!(bind.Property.ProductName) core service for MIDI 1.0 and MIDI 2.0 message routing, device enumeration, and more."
                Start="auto"
                Account="LocalSystem"
                ErrorControl="normal"
                Vital="true" />
            <ServiceControl Id="MidiServiceStart" 
                            Start="install" 
                            Stop="both" 
                            Remove="uninstall" 
                            Name="MidiSrv" 
                            Wait="yes" />

        </Component>     
        
        <!-- Install API -->

        <Component Id="WindowsAPI"
                   Bitness="always64"
                   Directory="API_INSTALLFOLDER"
                   Guid="dc48ab14-dd46-4ff2-8d59-10b9a8215c7e">
            <File Source="$(StagingSourceRootFolder)\api\x64\Windows.Devices.Midi2.dll" Vital="true" />
                       
            
            <File Source="$(StagingSourceRootFolder)\api\x64\Windows.Devices.Midi2.pri" />
        </Component>

        <Component Id="WindowsAPIRegistration"
                   Bitness="always64"
                   Directory="API_INSTALLFOLDER"
                   Guid="fa0230b9-824a-4c5f-b4e4-396433baa962"
                   >
          
        </Component>

        <!-- Install Console App -->

        <Component Id="ConsoleAppExe"
                   Bitness="always64"
                   Directory="CONSOLEAPP_INSTALLFOLDER"
                   Guid="1c74ff9c-d414-4a1e-a1f8-7cf62388f3bd">

            <!-- Install Tools: Console app -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.exe" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.deps.json" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\midi.runtimeconfig.json" />

            <!-- C# / WinRT -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\WinRT.Runtime.dll" />

            <!-- WinRT Projections -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Microsoft.Windows.SDK.NET.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Windows.Devices.Midi2.NET.dll" />

            <!-- Spectre Console -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Spectre.Console.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\Spectre.Console.Cli.dll" />

            <!-- Other .NET libs -->
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.CodeDom.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.Diagnostics.EventLog.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.Diagnostics.EventLog.Messages.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.Management.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-console\x64\System.ServiceProcess.ServiceController.dll" />



            <!-- Add folder to path -->
            <Environment Id="AddConsoleAppToSystemPath"
                            Name="PATH" Action="set" Part="last" System="yes" Value="[CONSOLEAPP_INSTALLFOLDER]" Permanent="no"/>
        </Component>


        <!-- Install Settings App -->

        <Component Id="SettingsAppExe"
                   Bitness="always64"
                   Directory="SETTINGSAPP_INSTALLFOLDER"
                   Guid="1e903d6a-b855-44f6-b00a-8f8827617eb5">

            <File Id="MidiSettings.exe" 
                  Source="$(StagingSourceRootFolder)\midi-settings\x64\MidiSettings.exe" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Midi.Settings.Core.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\MidiSettings.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\resources.pri" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\MidiSettings.runtimeconfig.json" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\appsettings.json" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\WinRT.Runtime.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Windows.Devices.Midi2.NET.dll" />

            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\ColorCode.Core.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\ColorCode.WinUI.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.Common.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.Labs.WinUI.SettingsControls.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.Mvvm.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Animations.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Core.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.DataGrid.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Input.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Layout.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Markdown.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Media.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.Controls.Primitives.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\CommunityToolkit.WinUI.UI.dll" />

            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.Binder.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.CommandLine.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.Json.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.DependencyInjection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Diagnostics.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.FileProviders.Physical.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.FileSystemGlobbing.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Hosting.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Hosting.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Abstractions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Configuration.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Console.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.Debug.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.EventLog.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Logging.EventSource.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Options.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Extensions.Primitives.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Graphics.Canvas.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Graphics.Canvas.Interop.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.InteractiveExperiences.Projection.dll" />

            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.ApplicationModel.Resources.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.AppLifecycle.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.AppNotifications.Builder.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.AppNotifications.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.PushNotifications.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.SDK.NET.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.Security.AccessControl.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.System.Power.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.System.Projection.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Windows.Widgets.Providers.Projection.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.WindowsAppRuntime.Bootstrap.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" />
            
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.WinUI.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Xaml.Interactions.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Microsoft.Xaml.Interactivity.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\Newtonsoft.Json.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.CodeDom.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Diagnostics.EventLog.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Diagnostics.EventLog.Messages.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.Management.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\System.ServiceProcess.ServiceController.dll" />
            <File Source="$(StagingSourceRootFolder)\midi-settings\x64\WinUIEx.dll" />
        </Component>


        <StandardDirectory Id="ProgramMenuFolder">
            <Component Id="SettingsAppShortcut" Guid="c71be7ba-f0b6-483e-a409-e40985e90117">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="MIDI Settings"
                          Description="Windows MIDI Services Settings and Tools"
                          Target="[#MidiSettings.exe]"
                          WorkingDirectory="SETTINGSAPP_INSTALLFOLDER" />
            </Component>
        </StandardDirectory>
        
        <CustomAction
            Id="WriteActivatableClassIdKeysAction"
            Return="check"
            Execute="immediate"
            BinaryRef="RegistryCustomActionsLib"
            DllEntry="WriteActivatableClassIdKeys"
            Impersonate="yes"/>

        <CustomAction
            Id="EraseActivatableClassIdKeysAction"
            Return="check"
            Execute="immediate"
            BinaryRef="RegistryCustomActionsLib"
            DllEntry="EraseActivatableClassIdKeys"
            Impersonate="yes"/>
        
        <Feature Id="WindowsMIDIServices">
            <ComponentRef Id="WindowsServiceAbstractions"/>
            <ComponentRef Id="WindowsService"/>
            <ComponentRef Id="WindowsAPI"/>
            <ComponentRef Id="WindowsAPIRegistration"/>

            <ComponentRef Id="ConsoleAppExe"/>

            <ComponentRef Id="SettingsAppExe"/>
            <ComponentRef Id="SettingsAppShortcut"/>
        </Feature>


        <InstallExecuteSequence>
            <Custom Action="WriteActivatableClassIdKeysAction" After="InstallFiles" Condition="(NOT Installed)" />
            <Custom Action="EraseActivatableClassIdKeysAction" After="InstallFiles" Condition='(REMOVE="ALL")'/>
        </InstallExecuteSequence>

    </Package>
</Wix>
