<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>

    <Package  
          Name="Windows MIDI Services $(var.Platform)"
          Manufacturer="Microsoft Corporation"
          Version="1.0.0.0"
          UpgradeCode="c552e144-54d0-4e18-8e16-ff0f0a2eb34f"
          >
       
        <MediaTemplate EmbedCab="yes" />

        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="SERVICE_INSTALLFOLDER" Name="Service" />
                <Directory Id="API_INSTALLFOLDER" Name="API" />
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                    <Directory Id="CONSOLEAPP_INSTALLFOLDER" Name="Console" />
                    <Directory Id="SETTINGSAPP_INSTALLFOLDER" Name="Settings" />
                </Directory>
            </Directory>
        </StandardDirectory>
        
        <StandardDirectory Id="CommonAppDataFolder">
            <Directory Name="Microsoft">
                <Directory Id="CONFIGURATION_FOLDER" Name="MIDI">
                    <Component Id="Permission.SharedAppDataFolder" Guid="{CFF49B6C-54CA-47F9-A1EF-62CD7C542D78}">
                        <CreateFolder>
                            <Permission GenericAll="yes" User="Everyone"/>
                        </CreateFolder>
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>


        <!-- Install Windows Service -->
     
        <!-- Transport and other Service Plugins -->
        <!-- Setting the SelfRegCost attribute to any positive number causes DLL Self Registration -->
    
        <Component Id="WindowsServiceAbstractions"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="76dbd487-7646-4c4b-a5c7-fde28a2102c7"  >
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.MidiSrvAbstraction.dll"                  SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.DiagnosticsAbstraction.dll"              SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.KSAbstraction.dll"                       SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.KSAggregateAbstraction.dll"              SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.VirtualMidiAbstraction.dll"              SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.LoopbackMidiAbstraction.dll"             SelfRegCost="1" Vital="true" />

            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.BS2UMPTransform.dll"                     SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.UMP2BSTransform.dll"                     SelfRegCost="1" Vital="true" />
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.UmpProtocolDownscalerTransform.dll"      SelfRegCost="1" Vital="true" />

            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\Midi2.SchedulerTransform.dll"                  SelfRegCost="1" Vital="true" />          
       </Component>

        <Component Id="WindowsService"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="d2557869-303c-4985-a6be-67feb11a11d9" >
            <File Source="$(StagingSourceRootFolder)\api\$(var.Platform)\MidiSrv.exe" Id="WINDOWS_SERVICE"  Vital="true" />

        </Component>     
        
        <Component Id="ConfigurationRegistryEntries"
                   Bitness="always64"
                   Directory="SERVICE_INSTALLFOLDER"
                   Guid="25E35CBB-4C66-4BEB-9B03-BC2E2D99317B"
                   NeverOverwrite="false">
                   
            <!-- Permanent is set to "yes" because this installer is for dev builds -->
            
            <RegistryKey Root="HKLM"
                         Key="SOFTWARE\Microsoft\Windows MIDI Services">

                <RegistryValue Type="string" Name="CurrentConfig" Value="Default.midiconfig.json" />

                <RegistryKey Key="Endpoint Processing Plugins">
                    <!-- TODO: Any processing plugins -->
                </RegistryKey>

                <RegistryKey Key="Transport Plugins">
                    
                    <RegistryKey Key="Midi2KSAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{26FA740D-469C-4D33-BEB1-3885DE7D6DF1}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>

                    <RegistryKey Key="Midi2KSAggregateAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{0f273b18-e372-4d95-87ac-c31c3d22e937}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>

                    <RegistryKey Key="Midi2VirtualMidiAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{8FEAAD91-70E1-4A19-997A-377720A719C1}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>

                    <RegistryKey Key="Midi2LoopbackMidiAbstraction">
                        <RegistryValue Type="string" Name="CLSID" Value="{942BF02D-93C0-4EA8-B03E-D51156CA75E1}" />
                        <RegistryValue Type="integer" Name="Enabled" Value="1" />
                    </RegistryKey>


                    

                </RegistryKey>
            </RegistryKey>
        </Component>
        
        <Component Id="ConfigurationFile"
                   Bitness="always64"
                   Directory="CONFIGURATION_FOLDER"
                   Guid="a9ded084-7d5c-407e-adc4-0e48ad440e12"
                   NeverOverwrite="true" 
                   >
            <File Source="$(StagingSourceRootFolder)\configuration\Default.midiconfig.json" />
        </Component>


        <CustomAction Id="SelfInstallService" FileRef="WINDOWS_SERVICE" ExeCommand="install" />

        <CustomAction Id="SelfUninstallService" FileRef="WINDOWS_SERVICE" ExeCommand="uninstall" />

        <Feature Id="WindowsMIDIServices">
            <ComponentRef Id="WindowsServiceAbstractions"/>
            <ComponentRef Id="WindowsService"/>

            <ComponentRef Id="Permission.SharedAppDataFolder"/>
            <ComponentRef Id="ConfigurationFile"/>
            <ComponentRef Id="ConfigurationRegistryEntries"/>

        </Feature>


        <InstallExecuteSequence>
            <Custom Action="SelfInstallService" After="InstallFiles" Condition="(NOT Installed)" />
            <Custom Action="SelfUninstallService" Before="InstallFiles" Condition='(REMOVE="ALL")'/>
        </InstallExecuteSequence>

    </Package>
</Wix>
