<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <!-- TODO: Gate on Arm64 or x64. No x86 installation -->

    <!-- TODO: Gate on Windows 10 22H2 or later -->

    <Bundle Name="Microsoft Windows MIDI Services (Developer Preview)" 
          Manufacturer="Microsoft Corporation" 
          Version="1.0.0.0" 
          UpgradeCode="ecfae6e7-7186-4f41-b9d2-df17ba86c69f">

        <WixVariable Id="WixUIDialogBmp" Value="midi_installer_logo.bmp" />

        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication LicenseUrl="https://github.com/microsoft/MIDI/blob/main/LICENSE" 
                                                    Theme="hyperlinkLicense" 
                                                    LogoFile="midi_installer_logo_square.png"/>
        </BootstrapperApplication>

        <Chain>
            <PackageGroupRef Id="PrereqPackages" />
            <PackageGroupRef Id="MidiServicesPackages" />
        </Chain>
    </Bundle>

    
    <Fragment>
        <PackageGroup Id="MidiServicesPackages">
            <MsiPackage
                Id="MidiServicesCoreSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMIDIServicesCoreSetup.msi">
                <MsiProperty Name="API_INSTALLFOLDER" Value="[API_INSTALLFOLDER]"/>
                <MsiProperty Name="SERVICE_INSTALLFOLDER" Value="[SERVICE_INSTALLFOLDER]"/>
            </MsiPackage>

            <MsiPackage
                Id="MidiToolsConsoleAppSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMidiServicesConsoleAppSetup.msi">
                <MsiProperty Name="CONSOLEAPP_INSTALLFOLDER" Value="[CONSOLEAPP_INSTALLFOLDER]"/>
            </MsiPackage>

            <MsiPackage
                Id="MidiToolsSettingsAppSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMidiServicesSettingsAppSetup.msi">
                <MsiProperty Name="SETTINGSAPP_INSTALLFOLDER" Value="[SETTINGSAPP_INSTALLFOLDER]"/>
            </MsiPackage>

        </PackageGroup>
    </Fragment>
</Wix>
