<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <?define VCRuntimeRedistSourceFolder=..\..\..\build\dependencies ?>
    
    <Fragment>
        <PackageGroup Id="PrereqPackages">
            <!-- NOTE: The x64 redist contains *both* x64 and Arm64 binaries, so it's the only one we need to install -->
            <!-- Also see https://stackoverflow.com/questions/42720958/web-download-of-vcruntime140-with-wix-burn -->
<!--            <ExePackage
                InstallArguments="/install /passive /norestart"
                PerMachine="yes"
                Id="VCRuntimePackage"
                Vital="yes"
                Permanent="yes"
                Compressed="yes"
                SourceFile="$(VCRuntimeRedistSourceFolder)\vc_redist.x64.exe">
            </ExePackage>
-->            
            
        </PackageGroup>
    </Fragment>
</Wix>
