<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     >

    <?define DependenciesSourceRootFolder=$(env.MIDI_REPO_ROOT)\build\dependencies ?>
  
    <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>
    <?define StagingVersionIncludeFile=$(StagingSourceRootFolder)\version\BundleInfo.wxi ?>
    <?include $(StagingVersionIncludeFile) ?>

    <!-- TODO: Gate on Arm64 or x64. No x86 installation -->
    
    <!-- TODO: Gate on Windows 10 22H2 or later -->


  <Bundle Name="Microsoft Windows MIDI Services (Tools and Runtime) $(SetupVersionName) $(SetupVersionNumber)" 
          Manufacturer="Microsoft Corporation" 
          Version="$(SetupVersionNumber)" 
          UpgradeCode="7afb7a7b-86d4-42d7-8cb5-08f65ddcb1a9">
    
    

        <!-- hard-coded path because sharing a directory with the other MSI is not possible. Would have to write to registry -->
        <Variable Name="LaunchTarget" Value="[ProgramFiles64Folder]\Windows MIDI Services\Tools\Settings\MidiSettings.exe"/>

        <WixVariable Id="WixUIDialogBmp" Value="midi_installer_logo.bmp" />

        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication LicenseUrl="" 
                                                    SuppressOptionsUI="true"
                                                    SuppressRepair="false"
                                                    Theme="hyperlinkLicense" 
                                                    LogoFile="midi_installer_logo_square.png"/>
        </BootstrapperApplication>

        <Chain>
            <PackageGroupRef Id="Prerequisites" />
            <PackageGroupRef Id="MidiServicesPackages" />
        </Chain>
    </Bundle>

    
    <!-- TODO: If this is an x64 build, then it should not install on Arm64. The Arm64X version is for that. -->
    
    <Fragment>
        <!-- Believe it or not, the DotNetCoreSearch barfs if you send ARM64 instead of arm64 -->

        <?if $(var.Platform) = ARM64 ?>
            <!-- Apps use .NET Core 8 -->
            <netfx:DotNetCoreSearch
                Id="SearchForDotNet8_arm64"
                RuntimeType="desktop"
                Platform="arm64"
                MajorVersion="8"
                Variable="DotNetDesktopRuntimeVersion_arm64"
                    />
        <?endif?>


        <!-- We always search for x64 version because it's used on all platforms right now -->
        <netfx:DotNetCoreSearch
            Id="SearchForDotNet8_x64"
            RuntimeType="desktop"
            Platform="x64"
            MajorVersion="8"
            Variable="DotNetDesktopRuntimeVersion_x64"
                />


        <PackageGroup Id="Prerequisites">

            <!-- C++ Runtime. The x64 download contains both Arm64 and X64 versions -->

            <!-- Removed DetectCondition="VCRuntimeInstalled" because the redist does its own checking -->
            <ExePackage
                Vital="false"
                Permanent="true"
                DisplayName="Microsoft Visual C++ Runtime"
                SourceFile="$(DependenciesSourceRootFolder)\VC_redist.x64.exe"
                Compressed="yes"
                InstallArguments="/install /passive /norestart /log midi_vcruntime_install_log.txt" 
                />

          <!-- Windows App Runtime Install -->

          <ExePackage
              Vital="true"
              Permanent="true"
              DisplayName="Microsoft Windows App Runtime"
              SourceFile="$(DependenciesSourceRootFolder)\$(var.Platform)\WindowsAppRuntimeInstall-$(var.Platform).exe"
              Compressed="yes"
             />


          <!-- arm64 install requires both the .NET 8 Arm64 and x64 versions -->
            
            <!-- Source File is required only at build time for WiX to get info about the package -->
            <?if $(var.Platform) = ARM64 ?>
                <ExePackage
                    Vital="true"
                    Permanent="true"
                    DisplayName="Microsoft .NET 8 Desktop Runtime"
                    DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/8.0.17/windowsdesktop-runtime-8.0.17-win-arm64.exe"
                    SourceFile="$(DependenciesSourceRootFolder)\arm64\windowsdesktop-runtime-8.0.17-win-arm64.exe"
                    Compressed="no"
                    DetectCondition="DotNetDesktopRuntimeVersion_arm64 &gt;= v8.0.17"
                    InstallArguments="/install /passive /norestart /log midi_dotnet8_arm64_install_log.txt"
                    UninstallArguments="/uninstall /passive /norestart /quiet"
                        />

                <ExePackage
                    Vital="true"
                    Permanent="true"
                    DisplayName="Microsoft .NET 8 Desktop Runtime"
                    DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/8.0.17/windowsdesktop-runtime-8.0.17-win-x64.exe"
                    SourceFile="$(DependenciesSourceRootFolder)\x64\windowsdesktop-runtime-8.0.17-win-x64.exe"
                    Compressed="no"
                    DetectCondition="DotNetDesktopRuntimeVersion_x64 &gt;= v8.0.17"
                    InstallArguments="/install /passive /norestart /log midi_dotnet8_x64_install_log.txt"
                    UninstallArguments="/uninstall /passive /norestart /quiet"
                    />
            <?else?>
                <ExePackage
                    Vital="true"
                    Permanent="true"
                    DisplayName="Microsoft .NET 8 Desktop Runtime"
                    DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/8.0.17/windowsdesktop-runtime-8.0.17-win-x64.exe"
                    SourceFile="$(DependenciesSourceRootFolder)\x64\windowsdesktop-runtime-8.0.17-win-x64.exe"
                    Compressed="no"
                    DetectCondition="DotNetDesktopRuntimeVersion_x64 &gt;= v8.0.17"
                    InstallArguments="/install /passive /norestart /log midi_dotnet8_x64_install_log.txt"
                    UninstallArguments="/uninstall /passive /norestart /quiet"
                        />
            <?endif?>

        </PackageGroup>

        
        <PackageGroup Id="MidiServicesPackages">
            <MsiPackage
                Id="MidiServicesSdkSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMIDIServicesSdkRedist.msi">
            </MsiPackage>

            <MsiPackage
                Id="MidiServicesConsoleSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMIDIServicesConsoleStandAloneSetup.msi">
            </MsiPackage>

            
            <MsiPackage
                Id="MidiServicesSettingsSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMIDIServicesSettingsAppStandAloneSetup.msi">
            </MsiPackage>

            <MsiPackage
                Id="MidiServicesPowerShellSetup"
                Vital="yes"
                Permanent="no"
                Compressed="yes"
                SourceFile="WindowsMIDIServicesPowerShellSetup.msi">
            </MsiPackage>

        </PackageGroup>
        
    </Fragment>
</Wix>
