<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)build\staging ?>

  <Package
          Name="Windows MIDI Services Console Tools $(var.Platform)"
          Manufacturer="Microsoft Corporation"
          UpgradeCode="01eda8fd-3bb5-4610-a4f0-160ebbcf8394"
          UpgradeStrategy="majorUpgrade"
          >

        <MediaTemplate EmbedCab="yes" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="TOOLSROOT_INSTALLFOLDER" Name="Tools">
                </Directory>
                <Directory Id="COLLECTMIDILOGS_INSTALLFOLDER" Name="Collect MIDI Logs">
                </Directory>
            </Directory>
        </StandardDirectory>
        
        <!-- Install SDK Runtime. Like the rest of this installer, this is temporary -->

        <Component Id="WindowsMidiServicesConsoleTools"
                   Permanent="no"
                   Bitness="always64"
                   Directory="TOOLSROOT_INSTALLFOLDER"
                   Guid="7061b206-9a9a-4ed4-aace-35beeba89971">

            <!-- these are here just to make the tools work -->
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\Windows.Devices.Midi2.dll" Vital="true" PatchWholeFile="yes" />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\Windows.Devices.Midi2.pri" Vital="true" PatchWholeFile="yes" />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\Windows.Devices.Midi2.winmd" Vital="true" PatchWholeFile="yes"  />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\Windows.Devices.Midi2.pdb" Vital="true" PatchWholeFile="yes"  />


            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\mididiag.exe" Vital="true" PatchWholeFile="yes"  />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\midiksinfo.exe" Vital="true" PatchWholeFile="yes"  />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\midi1monitor.exe" Vital="true" PatchWholeFile="yes"  />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\midi1enum.exe" Vital="true" PatchWholeFile="yes"  />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\midifixreg.exe" Vital="true" PatchWholeFile="yes"  />
            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\midiapimode.exe" Vital="true" PatchWholeFile="yes"  />

            <File Source="$(StagingSourceRootFolder)\app-sdk\$(var.Platform)\midimdnsinfo.exe" Vital="true" PatchWholeFile="yes"  />


          <!-- Add folder to path -->
          <Environment Id="AddToolsToSystemPath"
                          Name="PATH" Action="set" Part="last" System="yes"
                          Value="[TOOLSROOT_INSTALLFOLDER]" Permanent="no"/>

          <RegistryKey Root="HKLM"
                       Key="SOFTWARE\Microsoft\Windows MIDI Services\Desktop App SDK Runtime">
            <RegistryValue Type="string" Name="MidiDiag" Value="[TOOLSROOT_INSTALLFOLDER]mididiag.exe" />
          </RegistryKey>

        </Component>

    <Component Id="WindowsMidiServicesCollectMidiLogs"
               Permanent="no"
               Bitness="always64"
               Directory="COLLECTMIDILOGS_INSTALLFOLDER"
               Guid="f8bb863f-8763-45d3-acdf-23293a83a6e5">

        <File Source="$(StagingSourceRootFolder)\CollectMidiLogs\CollectMidiLogs.cmd" Vital="true" PatchWholeFile="yes" />
        <File Source="$(StagingSourceRootFolder)\CollectMidiLogs\CollectMidiLogs.ps1" Vital="true" PatchWholeFile="yes"  />
        <File Source="$(StagingSourceRootFolder)\CollectMidiLogs\providers.wprp" Vital="true" PatchWholeFile="yes"  />
        <File Source="$(StagingSourceRootFolder)\CollectMidiLogs\tttraceall.psm1" Vital="true" PatchWholeFile="yes"  />


        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows MIDI Services\Desktop App SDK Runtime">

          <RegistryValue Type="string" Name="CollectMidiLogs" Value="[COLLECTMIDILOGS_INSTALLFOLDER]CollectMidiLogs.ps1" />

        </RegistryKey>
    </Component>

    <Feature Id="WindowsMIDIServices">
            <ComponentRef Id="WindowsMidiServicesConsoleTools" />
            <ComponentRef Id="WindowsMidiServicesCollectMidiLogs"/>
    </Feature>

    </Package>
</Wix>
