//
//    Copyright (C) Microsoft.  All rights reserved.
//

#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Midi API"
#define VER_INTERNALNAME_STR        "Windows.Devices.Midi2.dll"
#define VER_ORIGINALFILENAME_STR    "Windows.Devices.Midi2.dll"

#include "common.ver"

STRINGTABLE
BEGIN
	IDS_MIDI2_CLIENT	L"Windows Midi 2 Client"
END
