#if 0
Copyright (c) 1999-2004 Microsoft Corporation. All Rights Reserved
#endif

#include "windows.h"
#include <ntverp.h>
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR         "Winmm  audio system driver"
#define VER_INTERNALNAME_STR            "wdmaud.drv"
#define VER_ORIGINALFILENAME_STR        "wdmaud.drv"
#include <Common.ver>

// local resources
#include "resource.h"

// Localize:
STRINGTABLE 
BEGIN
    // default name of mixer line
    IDS_DEFAULT_LINENAME_UNNAMED    "Unnamed"
    IDS_DEFAULT_LINENAME_WAVE       "Wave"
    IDS_SUBMIXER_DSTLINE_SHORT      "Volume"
    IDS_SUBMIXER_DSTLINE_LONG       "Master Volume"
    IDS_SUBMIXER_SRCLINE_SHORT      "Volume"
    IDS_SUBMIXER_SRCLINE_LONG       "Master Volume"
    IDS_SUBMIXER_CDLINE_SHORT       "CDAudio"
    IDS_SUBMIXER_CDLINE_LONG        "CD Audio"
    IDS_SUBMIXER_VOLUME_SHORT       "Volume"
    IDS_SUBMIXER_VOLUME_LONG        "Volume"
    IDS_SUBMIXER_MUTE_SHORT         "Mute"
    IDS_SUBMIXER_MUTE_LONG          "Mute"
END
