<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?define StagingSourceRootFolder=$(env.MIDI_REPO_ROOT)\build\staging ?>
  <?define StagingVersionIncludeFile=$(StagingSourceRootFolder)\version\AppSdkVersion.wxi ?>
  <?include $(StagingVersionIncludeFile) ?>

  <Package  
          Name="Windows MIDI Services (PowerShell) $(var.Platform)"
          Manufacturer="Microsoft Corporation"
          Version="$(MidiSdkAndToolsVersion)"
          UpgradeCode="9b8ca115-dc36-43c4-a562-b72c0ebd98bd"
          Scope="perMachine"
          Compressed="true"
          UpgradeStrategy="majorUpgrade"
          >
       
        <MediaTemplate EmbedCab="yes" />
        
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTINSTALLFOLDER" Name="Windows MIDI Services">
                <Directory Id="POWERSHELL_ROOT_INSTALLFOLDER" Name="PowerShell">
                    <Directory Id="POWERSHELL_MODULE_INSTALLFOLDER" Name="WindowsMidiServices" /> <!-- Must be same name as module -->
                </Directory>
            </Directory>
        </StandardDirectory>

        <!-- Module payload is in the generated _SetupFiles.wxs (ComponentGroup PowerShellModuleFiles) -->

        <Component Id="PowerShellModuleRegistration"
                   Bitness="always64"
                   Directory="POWERSHELL_MODULE_INSTALLFOLDER"
                   Guid="f460814c-4cf6-47af-a1d1-20ebacb3730f">

            <!-- Add folder to powershell path -->
            <Environment Id="AddCmdletsToPowerShellPath"
                         Name="PSModulePath" 
                         Action="set" Part="last" System="yes"
                         Value="[POWERSHELL_ROOT_INSTALLFOLDER]" 
                         Permanent="no"/>

            <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows MIDI Services\Desktop App SDK Runtime">
                <RegistryValue Type="string" Name="PowerShellModule" Value="[POWERSHELL_MODULE_INSTALLFOLDER]" KeyPath="yes" />
            </RegistryKey>
        </Component>

        <Feature Id="WindowsMidiServicesPowerShell">
            <ComponentGroupRef Id="PowerShellModuleFiles"/>
            <ComponentRef Id="PowerShellModuleRegistration"/>
        </Feature>
    </Package>
</Wix>
